@import 'tailwindcss';
@import '@xyflow/svelte/dist/style.css';

@theme {
	--color-kodai-white: #f0eeeb;
	--color-kodai-gray: #ccd5ae;
	--color-kodai-yellow: #ffbf65;
	--color-kodai-blue: #003a6c;
	--color-kodai-orange: #fd8973;
	--color-kodai-black: #13181b;
}

:root {
	--xy-background-color-default: #13181b;
	--xy-background-pattern-dot-color-default: #2a3540;
	--xy-node-background-color-default: #1e2a32;
	--xy-node-border-default: 1px solid #2a3540;
	--xy-node-color-default: #f0eeeb;
	--xy-node-boxshadow-hover-default: 0 0 0 1px #ffbf65;
	--xy-node-boxshadow-selected-default: 0 0 0 2px #ffbf65;
	--xy-edge-stroke-default: #ccd5ae;
	--xy-edge-stroke-width-default: 2;
	--xy-edge-stroke-selected-default: #ffbf65;
	--xy-handle-background-color-default: #003a6c;
	--xy-handle-border-color-default: #ffbf65;
	--xy-minimap-background-color-default: #13181b;
	--xy-minimap-node-background-color-default: #1e2a32;
	--xy-controls-button-background-color-default: #1e2a32;
	--xy-controls-button-color-default: #f0eeeb;
	--xy-controls-button-border-color-default: #2a3540;
	--xy-controls-button-background-color-hover-default: #2a3540;
	--xy-attribution-background-color-default: rgba(19, 24, 27, 0.7);
	color-scheme: dark;
}
